<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <!-- <ion-button>
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button> -->
        </ion-buttons>
    <ion-title class="toolbar" text-center><ion-img [src]="'assets/logo_700.png'" style="max-width:310px;"></ion-img></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <ion-chip style="margin-bottom:15px;">
  <ion-icon name="person" color="dark"></ion-icon>
  <ion-label class="user">{{User.email}}</ion-label>
</ion-chip><br>
<ion-item-divider>
  <ion-label>

    <h5 class="clientname">{{ clientData.client_name }}</h5>
  </ion-label>
</ion-item-divider>


  <div id="map_canvas"></div>

  <ion-item-group *ngIf="clientWorksites.length > 0">

    <br>
    <ion-item-divider>
      <ion-label>

        <h4 class="clientname"><span><ion-icon name="pin" color="dark" style="font-size:20px"></ion-icon></span>  Client Worksites</h4>
      </ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item *ngFor="let w of clientWorksites" align-items-center>
        <ion-label text-center>
            <ion-text color="primary">
                <h3 class="streetname">{{w.street1}} {{ w.street2 }}<br>{{ w.city }}, {{ w.state }} {{ w.zip_code }}</h3>
<!-- <p style="font-weight:400px;">Lat: {{w.latitude}} Lng: {{w.longitude}}</p> -->
            </ion-text>

            <!-- <p><i>Worksite ID: {{ w.id }} (debug field)</i></p> -->

            <ion-button expand="small" (click)="editWorksite(w.id)">Edit</ion-button>
          <br>
        </ion-label>
      </ion-item>

    </ion-list>





  </ion-item-group>

  <br>
  <ion-button expand="small" (click)="logout()">Logout</ion-button>

</ion-content>
