<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Set Clock In Point(s)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>

Editing Worksite # {{ worksite_id }} <br>
<br>

<ion-label *ngIf="Worksite.id" text-center>
    <ion-text color="primary">
        <h3>{{ Worksite.street1 }} {{ Worksite.street2 }}</h3>
    </ion-text>
    <p>{{ Worksite.city }}, {{ Worksite.state }} {{ Worksite.zip_code }} </p>
    <ion-text color="secondary">
      <p>Lat: {{ Worksite.latitude }} Lng: {{ Worksite.longitude }}</p>
    </ion-text>          
  <br>
</ion-label>

<div #map_canvas id="map_canvas"></div>

<ion-item justify-content-center text-center>
  <ion-label text-wrap>You may now stand where you wish to designate a clock in/out GPS point: </ion-label>
  <ion-button (click)="addTimeClockGeoPoint()"><ion-icon name="pin"></ion-icon> Tap when ready...</ion-button> 
</ion-item>

<br>
<br>

<div [hidden]="!inForm">
    <ion-grid>
        <ion-row justify-content-center> 
          <ion-col size="1"></ion-col>
          <ion-col size="10">          
            <ion-card>

              <ion-card-header>
                <ion-card-title>      
                  <div text-center><h5>Save?</h5></div>
                </ion-card-title>
              </ion-card-header>

              <ion-card-content> 
                    <form *ngIf="addForm" [formGroup]="addForm" (ngSubmit)="onGPSSubmit()">

                      <ion-item>
                        <ion-label position="floating">Name</ion-label>
                        <ion-input type="text" formControlName="name"></ion-input>
                      </ion-item>

                      <ion-item>
                          <ion-label>Radius</ion-label>
                          <ion-select  placeHolder="Please select a value" formControlName="range">
                            <ion-select-option value="10">10 Feet</ion-select-option>
                            <ion-select-option value="20">20 Feet</ion-select-option>
                            <ion-select-option value="30">30 Feet</ion-select-option>
                            <ion-select-option value="50">50 Feet</ion-select-option>
                            <ion-select-option value="100">100 Feet</ion-select-option>
                          </ion-select>
                      </ion-item>

                      <br>
                      
                      <ion-button expand="small" type="submit" [disabled]="!addForm.valid">Save</ion-button>
                    </form>
            </ion-card-content>

          </ion-card>
        </ion-col>
        <ion-col size="1"></ion-col>   
      </ion-row>
    </ion-grid>
</div>

<div justify-content-center text-center [hidden]="inForm">
  <ion-item-group *ngIf="worksiteLocations.length > 0"> 

    <ion-item-divider color="light">
      GPS Clock-in/Out Points @ {{ Worksite.street1 }} {{ Worksite.street2 }}
    </ion-item-divider> 

    <ion-item *ngFor="let l of worksiteLocations" align-items-center>
      <ion-label text-center>
          <ion-text color="primary">
              <h3>{{l.name}}</h3>
          </ion-text>
          <ion-text color="secondary">
            <p>Lat: {{l.latitude}} Lng: {{l.longitude}} Range: {{ l.range }} feet.</p>
          </ion-text>          
          <ion-button expand="small" (click)="deleteLocation(l.id)">Delete</ion-button>
        <br>
      </ion-label>
    </ion-item> 

  </ion-item-group>
  
</div>

<br>
<ion-button expand="small" (click)="logout()">Logout</ion-button>

</ion-content>
